.covid-table{
    border:2px solid rgb(230, 204, 204);
    width: 75%;
    margin: 30px auto;
}

tr,th,td{
    font-size: 20px;
}
@media screen and (max-width:800px){
    tr,th,td{
        font-size: 18px;
    }  
    .covid-table{
        width: 100%;
    }
}
@media screen and (max-width:600px){
    tr,th,td{
        font-size: 15px;
    }  
    .covid-table{
        width: 100%;
    }
}